# Tubes Praktikum Machine Learning - Kelompok GaNi

In [6]:
# Anggota Kelompok:

# Daniel Andrew Ketaren
# Sarmida Sinaga
# Luthfi Muzhaffar Lubis
# Muhammad Hatta Abdillah

In [7]:
#Import Code
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.metrics import accuracy_score

# 1. Data cleansing

Ketentuan yang harus diikuti dalam melakukan filtering data di Dataset Singapore HDB Resale Price

1. Data dari kedua dataset disatukan
2. Data yang digunakan hanya dalam rentang 2016 - 2020, maka data selain rentang waktu 2015-2016 akan dihilangkan
3. Memperbaiki format kolom yang salah
4. Memperbaiki missing values dan outlier dengan cara cara yang tepat

Maka, langkah langkah yang harus dilakukan agar filtering data ini berjalan dengan baik, antara lain:

1. Melakukan penyatuan terhadap dua dataset yang diberikan sebelumnya, dengan tujuan agar kita dapat memanfaatkan kedua dataset dengan baik tanpa pemisahan
2. Melakukan filtering data dengan ketentuan kita hanya akan memakai data dari tahun 2016-2020
3. Melihat data setelah difilter
4. Menentukan kolom yang memiliki format yang salah
5. Mengubah kolom dengan format kolom yang salah itu tadi ke dalam format yang benar
6. Melihat data setelah diformat
7. Melihat missing values pada data
8. Jikalau ada missing values pada data, maka akan diimplementasikan metode metode yang cocok diterapkan untuk menangani missing valuesnya
9. Melihat data setelah penanganan missing values
10. Mengecek sum, min, max, dari setiap kolom pada dataset yang dapat dikalkulasikan
11. Melihat posibilitas data ada yang outlier atau tidak
12. Melihat data yang outlier
13. Menentukan apakah data yang outlier ini memanglah berdasar ataukah merupakan kesalahan dari inputan
14. Mengimplementasikan kesimpulan dari poin ke 14

In [8]:

# 1. Data dari kedua dataset disatukan

csv1 = '2015-to-2016.csv'
csv2 = '2017-to-2020.csv'

df1 = pd.read_csv(csv1)
df2 = pd.read_csv(csv2)

df_combined = pd.concat([df1, df2], axis=0, ignore_index=True)

csv_combined = 'D:/Daniel/singapore-hdb-resale-price-combined.csv'
df_combined.to_csv(csv_combined, index=False)

In [9]:
# 2. Membaca data yang telah dicombine

df = pd.read_csv(csv_combined)
df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2015-01,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,07 TO 09,60.0,Improved,1986,70,255000.0
1,2015-01,ANG MO KIO,3 ROOM,541,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1981,65,275000.0
2,2015-01,ANG MO KIO,3 ROOM,163,ANG MO KIO AVE 4,01 TO 03,69.0,New Generation,1980,64,285000.0
3,2015-01,ANG MO KIO,3 ROOM,446,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1979,63,290000.0
4,2015-01,ANG MO KIO,3 ROOM,557,ANG MO KIO AVE 10,07 TO 09,68.0,New Generation,1980,64,290000.0
...,...,...,...,...,...,...,...,...,...,...,...
117522,2020-09,YISHUN,5 ROOM,716,YISHUN ST 71,07 TO 09,131.0,Improved,1987,66 years 03 months,440000.0
117523,2020-09,YISHUN,5 ROOM,760,YISHUN ST 72,07 TO 09,122.0,Improved,1987,65 years 06 months,458000.0
117524,2020-09,YISHUN,5 ROOM,835,YISHUN ST 81,04 TO 06,122.0,Improved,1987,66 years 04 months,490000.0
117525,2020-09,YISHUN,EXECUTIVE,791,YISHUN AVE 2,04 TO 06,146.0,Maisonette,1987,66 years 03 months,558000.0
117526,2020-09,YISHUN,EXECUTIVE,387,YISHUN RING RD,04 TO 06,146.0,Maisonette,1988,66 years 09 months,555000.0

In [10]:
# 3. Memfilter data hanya 2016 sampai 2020 saja

# Penghapusan data
tahun_target = ['2015']

for i in range(len(df)):
    tahun = df['month'][i].split("-", 1)[0]
    
    if tahun in tahun_target:
        df = df.drop(i)

# Menghapus indeks data 2015
df = df.reset_index(drop=True)

# Kondisi data setelah data 2015 dihapus

df.to_csv('2016-to-2020.csv', index=False)

In [67]:
# Melihat data yang sudah difilter

csv_combine = '2016-to-2020.csv'

df = pd.read_csv(csv_combine)

df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2016-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,07 TO 09,44.0,Improved,1979,62,230000.0
1,2016-01,ANG MO KIO,2 ROOM,116,ANG MO KIO AVE 4,01 TO 03,44.0,Improved,1978,61,240000.0
2,2016-01,ANG MO KIO,3 ROOM,170,ANG MO KIO AVE 4,01 TO 03,60.0,Improved,1986,69,276000.0
3,2016-01,ANG MO KIO,3 ROOM,560,ANG MO KIO AVE 10,01 TO 03,67.0,New Generation,1980,63,280000.0
4,2016-01,ANG MO KIO,3 ROOM,258,ANG MO KIO AVE 4,01 TO 03,73.0,New Generation,1977,60,285000.0
...,...,...,...,...,...,...,...,...,...,...,...
99742,2020-09,YISHUN,5 ROOM,716,YISHUN ST 71,07 TO 09,131.0,Improved,1987,66 years 03 months,440000.0
99743,2020-09,YISHUN,5 ROOM,760,YISHUN ST 72,07 TO 09,122.0,Improved,1987,65 years 06 months,458000.0
99744,2020-09,YISHUN,5 ROOM,835,YISHUN ST 81,04 TO 06,122.0,Improved,1987,66 years 04 months,490000.0
99745,2020-09,YISHUN,EXECUTIVE,791,YISHUN AVE 2,04 TO 06,146.0,Maisonette,1987,66 years 03 months,558000.0
99746,2020-09,YISHUN,EXECUTIVE,387,YISHUN RING RD,04 TO 06,146.0,Maisonette,1988,66 years 09 months,555000.0

In [70]:
# Menentukan kolom yang memiliki format yang salah

# Perubahan pada remaining_lease agar data yang memiliki format yy years mm months berubah menjadi yy saja

def transform_remaining_lease(lease):
    if pd.notna(lease):
        if lease.isdigit():
            return int(lease)
        elif 'year' in lease:
            years = int(lease.split()[0])
            return years
        elif 'month' in lease:
            years, months = map(int, lease.split()[:2])
            if months <= 6:
                return years
            else:
                return years + 1
    else:
        return np.nan

# Mengganti nilai pada kolom remaining_lease dengan nilai yang baru
df['remaining_lease'] = df['remaining_lease'].apply(transform_remaining_lease)

# Menampilkan hasil
print(df['remaining_lease'])

0        62
1        61
2        69
3        63
4        60
         ..
99742    66
99743    65
99744    66
99745    66
99746    66
Name: remaining_lease, Length: 99747, dtype: int64

In [72]:
# Melihat data setelah remaining_lease diubah

df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2016-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,07 TO 09,44.0,Improved,1979,62,230000.0
1,2016-01,ANG MO KIO,2 ROOM,116,ANG MO KIO AVE 4,01 TO 03,44.0,Improved,1978,61,240000.0
2,2016-01,ANG MO KIO,3 ROOM,170,ANG MO KIO AVE 4,01 TO 03,60.0,Improved,1986,69,276000.0
3,2016-01,ANG MO KIO,3 ROOM,560,ANG MO KIO AVE 10,01 TO 03,67.0,New Generation,1980,63,280000.0
4,2016-01,ANG MO KIO,3 ROOM,258,ANG MO KIO AVE 4,01 TO 03,73.0,New Generation,1977,60,285000.0
...,...,...,...,...,...,...,...,...,...,...,...
99742,2020-09,YISHUN,5 ROOM,716,YISHUN ST 71,07 TO 09,131.0,Improved,1987,66,440000.0
99743,2020-09,YISHUN,5 ROOM,760,YISHUN ST 72,07 TO 09,122.0,Improved,1987,65,458000.0
99744,2020-09,YISHUN,5 ROOM,835,YISHUN ST 81,04 TO 06,122.0,Improved,1987,66,490000.0
99745,2020-09,YISHUN,EXECUTIVE,791,YISHUN AVE 2,04 TO 06,146.0,Maisonette,1987,66,558000.0
99746,2020-09,YISHUN,EXECUTIVE,387,YISHUN RING RD,04 TO 06,146.0,Maisonette,1988,66,555000.0

In [73]:
# Melihat missing values pada data

df.isnull().sum()

month                  0
town                   0
flat_type              0
block                  0
street_name            0
storey_range           0
floor_area_sqm         0
flat_model             0
lease_commence_date    0
remaining_lease        0
resale_price           0
dtype: int64

Dikarenakan tidak ada missing values yang terlihat pada dataset, maka kita tidak perlu melakukan penanganan terhadap missing values

In [75]:
# Mengecek sum, min, max, dan lain lain dari setiap kolom pada dataset yang dapat dikalkulasikan

df.describe()

       floor_area_sqm  lease_commence_date  remaining_lease  resale_price
count    99747.000000         99747.000000     99747.000000  9.974700e+04
mean        97.552090          1993.602635        74.192216  4.392237e+05
std         24.251437            12.570580        12.512908  1.506651e+05
min         31.000000          1966.000000        45.000000  1.400000e+05
25%         81.000000          1984.000000        65.000000  3.300000e+05
50%         95.000000          1993.000000        74.000000  4.100000e+05
75%        112.000000          2002.000000        83.000000  5.100000e+05
max        259.000000          2019.000000        97.000000  1.258000e+06